body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #4caf50;
}

.container {
    width: 90%;
    max-width: 400px;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.mensaje {
    background: #444;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    width: fit-content;
    max-width: 80%;
}

.mensaje-propio {
    background: #4caf50;
    color: white;
    align-self: flex-end;
}

.mensaje-ajeno {
    background: #555;
}

#mensaje-lista {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.messages {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

.message-text {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.message-time {
    text-align: right;
    font-size: 0.8em;
    color: #888;
}